
body {
    background-color: wheat;
    font-family: cursive;
    font-weight: 300px;
    text-align: center;


}


nav {
    background-color:white;
    font-size:30px;
    color: white;
    text-align: right;
    padding: 2%;
    border: 20px;
    border-color: pink;

}


h1 {
   text-align: center;
   padding: 20px;
   border-block-color: wheat 30px;
   margin-block-end: 5%;
   color:grey;


}

.container {
  
    background-color: white;
    padding: 10%;
    width: 5%;
    margin: 5%;
    align-content: center;


}

ul {
    list-style-type: none;
    background-color: white;
    text-align:right;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
  

}

li {
    float: right;
    border-right: 2px solid grey;

    
}

li a {
    display: block;
    color: grey;
    padding: 25px;
    margin: 10px;
    display: inline;
    background-color: white;




}

li a:hover {
    background color:#551;
    color: white;
}



.aboutme    {
    background: grey;
    padding: 20px;
    margin: 20px;

}


img {
    border-radius: 100px;
}